html {
    background-color: rgb(241, 241, 241);
    margin: 0;
}

header {
    padding: 30px 50px 30px 50px;
    border-bottom: 1px solid rgb(192, 192, 192);
    
}
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight:bolder;
    font-size:20px;
  }
  
  nav a {
    color: rgb(162, 162, 162);
    text-decoration: none;
    
  }
  
  nav a:hover {
    color: blue;
    
  }
  nav a:visited {
    color: rgb(51, 144, 220);
    
  }

  #hero {
    background-image: url(SamuelSau.png);
    background-size: cover;
    background-position: center;
    height: 500px;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: 6rem auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
  }

  #hero p {
    background-image: url(usflogo.png);
    background-size: cover;
    background-position: center;
    margin-top:140px;
    height: 50px;
    max-width: 50px;
    z-index: 999;
  }


.hero-content {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4rem 3rem 4rem 3rem;
  }

.hero-content h2 {
    color: rgb(51, 144, 220);
}

#skill {
    display: flex;
    border: 1px solid rgb(192, 192, 192);
  }
  
  .skill-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  
  .webskill {
    width: 45%;
    text-align: left;
  }
  
  .mlskill {
    width: 45%;
    text-align: right;
    margin-left: 10%;
  }

.skill-content h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(131, 184, 227);
    margin-bottom: 20px;
}